body {
    background-color: black;
}

h1 {
    color: rgb(255, 124, 16);
    text-align: center;
}

h2 {
    position: relative;
    text-align: center;
    top: 35vh;
    color: rgb(255, 124, 16);
}

p {
    font-family: verdana;
    font-size: 20px;
}